section.aspects
  .container.aspects__container
    h2.aspects__head Что важно знать, когда начинаешь свой бизнес
    ul.aspects__list
      li.aspects__item.aspects__item--1st
        span.aspects__text Привлечение клиентов
      li.aspects__item.aspects__item--2nd
        span.aspects__text Финансы
      li.aspects__item.aspects__item--3th
        span.aspects__text Рост бизнеса
      li.aspects__item.aspects__item--4th
        span.aspects__text Каналы продаж
      li.aspects__item.aspects__item--5th
        span.aspects__text Построение<br> бизнес-процессов
      li.aspects__item.aspects__item--6th
        span.aspects__text Продажа и выход<br> из бизнеса