section.faq
  .container.faq__container
    h2.faq__head Популярные вопросы предпринимателей
    ul.faq__list 
      li.faq__item.faq__item--1st
        span.faq__text Где найти деньги?
      li.faq__item.faq__item--2nd
        span.faq__text ?
      li.faq__item.faq__item--3rd
        span.faq__text Как справиться с бюрократией и бумажной волокитой?
      li.faq__item.faq__item--4th
        //- STAR
      li.faq__item.faq__item--5th
        span.faq__text Где искать сотрудников?
      li.faq__item.faq__item--6th
        //- RUB
      li.faq__item.faq__item--7th
        span.faq__text Как оценить перспективу своего дела и сферы?
      li.faq__item.faq__item--8th
        //- TUNE
      li.faq__item.faq__item--9th
        span.faq__text Где скрыты точки роста?
      li.faq__item.faq__item--10th
        span.faq__text Как правильно составить бизнес-план?
      li.faq__item.faq__item--11th
        span.faq__text ?
      li.faq__item.faq__item--12th
        span.faq__text Что решать самому,<br> а что - делегировать?
      li.faq__item.faq__item--13th
        span.faq__text Как мотивировать команду?
      li.faq__item.faq__item--14th
        span.faq__text Достаточно ли для старта классной идеи?
      li.faq__item.faq__item--15th
        a.faq__btn.btn(target="blank" href="https://instagram.com") Получить ответы
      