section.features
  .container.features__container
    h2.features__head Что вас ждет
    ul.features__list
      li.features__item.features__item--1st
        h3.features__subhead Только актуальные знания
        p.features__text Понятные вебинары без воды. Занятия ведут эксперты-практики и реальные предприниматели.
      li.features__item.features__item--2nd
        h3.features__subhead Полезные материалы<br> и наставники
        p.features__text Чек-листы для решения сложных задач. Тесты для закрепления знаний и разбор кейсов активных участников.
      li.features__item.features__item--3rd
        h3.features__subhead Офлайн-интенсив<br> в Москве
        p.features__text Кампус с менторами и опытными предпринимателями для самых активных.
