section.title
  .title__bg
  .container.title__container
    .title__logo
      <svg width="103" height="81" viewBox="0 0 103 81" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.1502 41.7055C64.7007 42.6699 62.0324 43.1996 59.2404 43.1996C56.4492 43.1996 53.7816 42.6702 51.3326 41.7062C55.504 45.0314 58.4166 49.8686 59.2409 55.3882C60.0653 49.8682 62.9783 45.0307 67.1502 41.7055ZM37.6406 21.5998C37.6406 28.4423 40.8223 34.5417 45.7869 38.4993C43.338 37.5353 40.6704 37.0059 37.8791 37.0059C29.1167 37.0059 21.5729 42.2235 18.1851 49.7215V0.317383H0V79.5696H18.1851V67.4899C21.5729 74.9878 29.1167 80.2055 37.8791 80.2055C48.715 80.2055 57.6873 72.2264 59.2409 61.8231C60.7946 72.2264 69.7669 80.2055 80.6027 80.2055C92.532 80.2055 102.203 70.5349 102.203 58.6057C102.203 46.6764 92.532 37.0059 80.6027 37.0059C77.8108 37.0059 75.1425 37.5356 72.693 38.5C77.6582 34.5425 80.8403 28.4428 80.8403 21.5998C80.8403 9.67057 71.1697 0 59.2404 0C47.3112 0 37.6406 9.67057 37.6406 21.5998Z" fill="white"/>
      </svg> 
    h1.title__head Бизнес-академия Яндекса и Mastercard
    p.title__text Делимся знаниями, знакомим с экспертами<br> и помогаем малому бизнесу найти правильные<br> ответы на важные вопросы
    a.title__btn.btn(target="blank" href="https://vk.com") Регистрация
