.features {
  padding-top: 55px;
  padding-bottom: 50px;
  @media (max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__container {
    // background-color: $temp1;
  }
  &__head {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 43px;
    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  &__list {
    // background-color: $temp2;
    display: flex;
    justify-content: space-between;
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    flex-grow: 1;
    background-color: #1C202A;
    border-radius: 15px;
    max-width: 289px;
    color: #fff;
    padding: 32px 27px;
    height: 456px;
    background-repeat: no-repeat;
    background-size: auto 184px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 991px) {
      height: 345px;
      max-width: 200px;
      padding: 22px 14px;
      background-size: auto 128px;
    }
    @media (max-width: 700px) {
      max-width: 100%;
      width: 330px;
      height: 450px;
      padding: 30px 22px;
      background-size: auto 208px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &--1st {
      background-image: url("../assets/images/features_1_bg_1.png"), url("../assets/images/features_1_bg_2.svg");
      background-position: 27px calc(100% - 32px), calc(100% + 0px) calc(100% - 32px);
      @media (max-width: 991px) {
        background-position: 16px calc(100% - 22px), calc(100% + 0px) calc(100% - 22px);
      }
      @media (max-width: 700px) {
        background-position: 23px calc(100% - 39px), calc(100% + 0px) calc(100% - 39px);
      }
    }
    &--2nd {
      background-image: url("../assets/images/features_2_bg_1.png"), url("../assets/images/features_2_bg_2.svg");
      background-position: 62px calc(100% - 32px), 0px calc(100% - 32px);
      @media (max-width: 991px) {
        background-position: 43px calc(100% - 22px), 0px calc(100% - 22px);
      }
      @media (max-width: 700px) {
        background-position: calc(100% + 20px) calc(100% - 39px), 0px calc(100% - 39px);
      }
    }
    &--3rd {
      background-image: url("../assets/images/features_3_bg_1.png"), url("../assets/images/features_3_bg_2.svg");
      background-position: 0px calc(100% - 32px), calc(100% + 0px) calc(100% - 32px);
      @media (max-width: 991px) {
        background-position: 0px calc(100% - 22px), calc(100% + 0px) calc(100% - 22px);
      }
      @media (max-width: 700px) {
        background-position: -20px calc(100% - 39px), calc(100% + 0px) calc(100% - 39px);
      }
    }
  }
  &__subhead {
    min-height: 44px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    // max-width: 250px;
    margin-bottom: 16px;
    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 14px;
    }
    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
      min-height: auto;
    }
  }
  &__text {
    // max-width: 175px;
    font-size: 16px;
    line-height: 20px;
    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 18px;
    }
    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}