.header {
  // background-color: $temp1;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    @media (max-width: 991px) {
      height: 70px;
    }
    @media (max-width: 700px) {
      height: 65px;
    }
  }
  &__logo {
    max-width: 260px;
    line-height: 0;
    svg {
      width: 100%;
    }
    @media (max-width: 991px) {
      max-width: 192px;
    }
    @media (max-width: 700px) {
      max-width: 150px;
      
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    &:first-child {
      padding-right: 20px;
      border-right: 1px solid #000;
      @media (max-width: 700px) {
        padding-right: 10px;
      }
    }
    &:last-child {
      padding-left: 20px;
      @media (max-width: 700px) {
        padding-left: 10px;
      }
    }
  }
  &__link {
    color: #000;
    font-size: 18px;
    transition: all 0.2s ease;
    @include hover {
      color: $hover-color;
    }
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}